# Backend
backend/venv/
backend/.env
backend/.env.prod
backend/uploads/
backend/outputs/
backend/runs/
backend/model/best.pt

# Dataset
dataset_old/
dataset/

# Python
__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Root
node_modules/

# Env
.env

# OS
.DS_Store
Thumbs.db