# Backend
backend/venv/
backend/uploads/
backend/outputs/
backend/runs/

# Dataset
dataset_old/
dataset/

# Python
__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Root
node_modules/

# Env
.env
.env.*
**/.env
**/.env.*

# OS
.DS_Store
Thumbs.db